.play {
        background-image: url('../images/play.jpg');
        background-repeat: no-repeat;
        width:66%;
        height:600px;
        padding: 0;
        border: 0;
        background-color: transparent;
        margin: 0 auto;
    }